* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #304050;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  color: whitesmoke;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h4 {
  color: turquoise;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
